.btn {
    background-color: #FFFBE7C7;
    min-width: 80px;
    min-height: 80px;
    white-space: pre;
    border: none;
    color: #6E6E6E;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px;   
}
.btnSelected {
    background-color: #E78EA9;
    min-width: 80px;
    min-height: 80px;
    white-space: pre;
    border: none;
    color: #6E6E6E;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px;  
}
button:hover {
    animation: shake 0.7s;
  }
@keyframes shake {
    0% { transform: translate(-0.4rem) rotate(0deg); }
    20% { transform: translate(0.4rem) rotate(0deg); }
    50% { transform: translate(-0.2rem) rotate(0deg); }
    75% { transform: translate(0.2rem) rotate(0deg); }
    100% { transform: translate(-0.1rem) rotate(0deg); }
  }